.home-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.hero-div {
  display: flex;
  flex-direction: row; 
  align-items: center;
  width: 80%; 
  max-width: 1200px;
  margin: 0 auto; 
}

.hero-text {
  font-size: 24px; 
  padding: 20px;
}

.hero-image {
  max-width: 50%; 
  height: auto; 
  padding: 20px;
  border-radius: 30px; 
}


.main-div {
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 300px;
}

.sidebar-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.left-text-div{
margin-top: 120px;
font-size: 13px;
font-family: 'Poppins', sans-serif;
}